.text{
  margin-left: 216px;
  margin-top: 197px;
  position: absolute;
}

.text2{

  justify-content: center;
  margin-top: 10px;
}

.pic-profile{
  position: relative;
  margin-left: 249px;
}

.cor{
  width: 444px;
  height: 450px;
  position: absolute;
  z-index: 0;
  margin-left: 159px;
  margin-top: 131px;
  border-radius: 50px;
  border-width: 0 0 9px 9px;
  border-style: dotted;
  border-color: #183D3D
}
.cor11{
  border-width: 0 0 3px 3px;
  border-style: solid;
  border-color:  #5a7c7d;
  width: 454px;
  height: 415px;
  position: absolute;
  z-index: -1;
  margin-left: 200px;
  margin-top: 126px;
  border-radius: 50px;
}

.cor1{
  border-width: 3px 3px 0 0;
  border-style: solid;
  border-color: #5a7c7d;
  width: 527px;
  height: 535px;
  position: absolute;
  z-index: -1;
  margin-left: 671px;
  margin-top: 61px;
  border-radius: 50px;
}
.cor2{
  width: 566px;
  height: 498px;
  position: absolute;
  z-index: 0;
  margin-left: 684px;
  margin-top: 101px;
  border-radius: 50px;
  border-width: 9px 9px 0 0;
  border-style: dotted;
  border-color: #183D3D;
}
.mnpic{
  position: relative;
  border-radius: 32px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
  a {
    text-decoration: none;
  }
}

.text-long{
  max-width: 388px;
}

.text-let{
  text-align: center;
  margin-top: 90px;
  margin-left: -13px;
}

.card {
  width: 400px;
  height: 450px;
  border: none;
  background-color: white;
  text-align: left;
  margin-left: 57px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 6px #85BDBF;
  background-color: #85BDBF;
  // box-shadow: 0 6px 8px #183D3D;
}

h2:hover {
  text-decoration: underline white;


}
