
<div class="container">
 <div class="d-flex text-scroll">
      <div class="container cor1"></div>
      <div class="container cor2"></div>
      <div class="container text">
      <h4 style="margin-left: 179px">Hi there,</h4>
      <br>
      <h3>I'm Marina Borges,a passionate</h3>
      <h2><strong><em>Full Stack Developer</em></strong>.</h2>
      <p>currently residing in the UK and <br>soon embarking on a new journey in France.</p>
      <p> I extend a warm <strong> welcome to my portfolio</strong>,<br> where you can explore my work and <br> passion for web development.</p>
      </div>
    <br>
    <div class="container pic-profile">
      <%= image_tag('msb.jpg', alt: 'Me', class: 'img-pic mnpic', style:'height: 597px; margin-left: 236px; margin-top: 115px;') %>
    </div>
  </div>
  <hr>
  <br>
  <div class="container tools">
    <h3>Tools that I'm use to work with:</h3>
      <p><i class="fa-brands fa-square-js" style="color: #387a43; font-size: 36px;"></i>JavaScript, Rails, <i class="fa-brands fa-css3" style="color: #41905f; font-size: 36px;"></i>CSS,
       Ruby,<i class="fa-brands fa-node-js" style="color: #288157; font-size: 36px;"></i>Node.js, SQL,<i class="fa-brands fa-html5" style="color: #3c8648; font-size: 36px;"></i> HTML, Heroku,
       <i class="fa-brands fa-bootstrap" style="color: #316d53; font-size: 36px;"></i>Bootstrap, <i class="fa-brands fa-figma" style="color: #4a8751; font-size: 36px;"></i>Figma ... </p>
  </div>
  <br>
  <div class="d-flex">
    <div class="container introduce">
      <h3><strong>LET ME INTRODUCE MYSELF:</strong></h3>
      <br>
      <h3 class="card-text"> " I'm a person who truly enjoys the process of learning and creating. There's a particular joy in conceiving something new and watching it come to life. Learning is a big part of my life, and it's not just for the sake of acquiring knowledge. I get a kick out of applying what I learn to craft fresh and exciting projects. It's a two-way street for me; I gain new knowledge, and then I channel it into the art of creation.
        Challenges are something I eagerly embrace. When faced with a task that pushes my abilities to their limits, I find myself in a realm of heightened creativity. Those are the moments when I produce my best work." </h3>
    </div>
    <div class="container">
      <%= image_tag('me.jpg', alt: 'Me', class: 'img-pic mnpic', style:'width: 489px; margin-left: 134px; margin-top: -55px;') %>
    </div>
  </div>
  <hr>
  <br>
   <div class="container introduce">
    <h3>Some of my work:</h3>
  </div>
  <div class="container d-flex">
    <div class="card-container projeto">
        <a href="https://github.com/AnaLopezRdz/fridge-airbnb">
          <div class="card">
            <%= image_tag('airbnb.jpg', alt: 'Me', class: 'img-pic airbnb') %>
            <div class="card-body">
              <h2 class="card-title">Office Airbnb</h2>
              <p class="card-text">Clone of Airbnb, where you can book an office to work for a day or for a month</p>
              <p>Collaborated Project</p>
              <p>Status: Offline</p>
            </div>
          </div>
        </a>
    </div>
    <div class="card-container">
      <a href="http://www.fridgeraid.me/">
        <div class="card projeto">
          <%= image_tag('fridge-raid.jpg', alt: 'Me', class: 'img-pic airbnb', style: 'width: 125px; margin-left: 98px;') %>
          <div class="card-body">
            <h2 class="card-title">Fridge Raid</h2>
            <p class="card-text">An easier, faster way to throw a meal together</p>
            <p>Colaborated Project</p>
            <p>Status: Online</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
