name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16

    - name: Setup Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.1

    - name: Install Dependencies
      run: npm install

    - name: Build
      run: npm run build

    - name: Deploy
      run: |
        git config --global user.name "MarinaNBS"
        git config --global user.email "mnascimentos11@gmail.com"
        git checkout --orphan gh-pages
        git --set-upstream-to=origin/main
        git pull
        mv -f dist/* .
        git add --all
        git commit --message "Auto-deploy via GitHub Actions"
        git push origin gh-pages -f
